.header {
    position: fixed;
}

.toolbar {
    justify-content: space-between;
}

.logo-container {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo-text {
    margin-right: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    white-space: nowrap;
}

.menu-button {
    flex-grow: 0;
    display: flex;
}

.menu-icon {
    size: large;
}

.menu-appbar {
    display: block;
}

.menu-item {
    text-align: center;
}

.desktop-menu {
    flex-grow: 0;
    display: flex;
}

.nav-button {
    margin: 2px 0;
    color: white;
    display: block;
}
