/* General Layout */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* General Colors */
:root {
  --theme-gradient: linear-gradient(to right, #8ab19d, #ffffff);
  --theme-text-color: #2c3e50;
}

/* AppBar */
.MuiAppBar-root {
  background: var(--theme-gradient) !important;
  color: var(--theme-text-color) !important;
}

/* Header Buttons */
.MuiButton-root {
  color: var(--theme-text-color) !important;
}

.MuiButton-root:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.section-container {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.left-aligned {
  background: linear-gradient(90deg, #8ab19d 50%, #ffffff 50%);
}

.right-aligned {
  background: linear-gradient(90deg, #ffffff 50%, #8ab19d 50%);
}

.section-text {
  flex: 1;
  padding: 20px;
  color: #2c3e50;
}

.section-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Footer */
footer {
  background: var(--theme-gradient);
  color: var(--theme-text-color);
  border-top: 2px solid #8ab19d;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}