::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #eceaea;
    border-radius: 15px;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
    border: 2px solid transparent; 
    background-clip: padding-box; 
}